<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="admin" type="com.entity.Admin" />
		<typeAlias alias="users" type="com.entity.Users" />
		<typeAlias alias="article" type="com.entity.Article" />
		<typeAlias alias="cate" type="com.entity.Cate" />
		<typeAlias alias="concert" type="com.entity.Concert" />
		<typeAlias alias="ticket" type="com.entity.Ticket" />
		<typeAlias alias="cart" type="com.entity.Cart" />
		<typeAlias alias="orders" type="com.entity.Orders" />
	</typeAliases>
	<mappers>
		<mapper resource="com/entity/admin.xml" />
		<mapper resource="com/entity/users.xml" />
		<mapper resource="com/entity/article.xml" />
		<mapper resource="com/entity/cate.xml" />
		<mapper resource="com/entity/concert.xml" />
		<mapper resource="com/entity/ticket.xml" />
		<mapper resource="com/entity/cart.xml" />
		<mapper resource="com/entity/orders.xml" />
	</mappers>
</configuration>




























